/* *{
    padding: 0;
    margin: 0;
}
.bar{
    width: 80%;
    margin: auto;
}
.item h2{
    /* float: left; */

/* .item{
    display: flex;
    justify-content: space-between;
} */


/* nav ul li{
    display: inline-block;
    margin: 0px 15px;
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
}
nav ul li a{
    color: red;
    text-decoration: none !important;
    font-weight: bold;
    
}  */





